{margin: 0px; padding: 0px;}
	a{text-decoration: none;} /*일크에 밑줄 제거  */




hr{position:absolute;
	top:30px;
}

input{
	font-size:16px;
	width:300px;
	float:left;
}

button{
	width:50px;
	height:100%;
	border:0px;
	background-color:#c0c0c0;
	outline:none;
	float:right;
	color:#ffffff;
	
	
}

#top_menu{
	position: absolute;
	top:10px;
	right:100px;

}

/* top_menu a의 글씨 검은색으로,폰트사이트 16px,간격 16px  */
#top_menu a{
	color:black;
	font-size:16px;
	margin-left:16px;
	}

#logo{
		position: absolute;
		top: 100px;
		left: 300px;
}

#search{
	position:absolute;
	top:100px;
	left: 800px;
}
/* 검색창 안에 "상품 검색어 입력" 색 변경*/
input:-ms-input-placeholder {color:#c0c0c0;}
input::-webkit-input-placeholder {color:#c0c0c0;}
input::-moz-placeholder {color:#c0c0c0;}


#popsearch {
	position:absolute;
	font-size: 12px;
	top:130px;
	left:800px;
}

#popsearch a{
	color: #606060;
}


#menu ul li{
		list-style:none;
		
		
}

#menu a{
		text-decoration:none;
		text-align:center;
		color:#ffffff;
}

#menu a:hover{
	color:#222222;
}

#menu {
	position:absolute;
	font: bold 16px "malgun gothic";
	width:100%;
	height:50px;
	top:200px;
	background: #888888;
	color: black;
	line-height:50px;
	margin:0px auto;
	text-align:center;
}

#menu > ul > li{
	float:left;
	width:140px;
	position:relative;
}

#menu > ul > li:hover{
	color:#202020;
}
	
#menu > ul > li > ul {
	width:140px;
	display:none;
	position: absolute;
	font-size: 14px;
	background-color:#c0c0c0;
}
		
#menu > ul > li:hover > ul {
	display:block;
}

.ad1{
	position:relative;
	top:240px;
	left:400px;
}

.ad2{
	position:absolute;
	top:240px;
	left:410px;

}

.ad3{
	position:absolute;
	top:240px;
	left:410px;
}

.ad4{
	position:absolute;
	top:240px;
	left:410px;
}

.adverhover{
	position:absolute;
	top: 660px;
	left:410px;
	padding:30px;
	background-color: #c0c0c0;
	float:left;
}

.ho1{
	color:black;
}

.ho2{
	color:black;
}

.ho3{
	color:black;
}

.ho4{
	color:black;
}
.ho1:hover #ad1{
	display:none;
}

.ho1:hover .ad2 .ad3 .ad4{
	display:none;
}

.ho2:hover .ad2{
	display:none;
}

.ho2:hover #ad1 #ad3 #ad4{
	display:none;
}




.adverhover a{
	color:black;
}


#product {
	position: absolute;
	font-size: 16px;
	color: black;
	top: 800px;
	left: 410px;
	width:1100px;
	height:1000px;
	float:left;
	
}


.coIn{
	background-color: #888888;
	width:100%;
	height:250px;
	position:absolute;
	clear:left;
	float:left;
	left:0px;
	top:2000px;
}

.coIn p{
	font-size: 16px;
	position: relative;
	left:100px;
}

.cart{
	position:relative;
	top:300px;
	left:300px;
}

.bu{
	position:relative;
	left:-1000px;
}